<div class="container">
    <div class="row w100 py-3 pb-5">
        <h3>{{title}}</h3>
    </div>
    <div class="row w100 py-3">
        <table class="table table-hover"style="width: 100%; border-collapse: collapse;">
            <thead class="thead">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Corriere</th>
                <th scope="col">Offerta</th>
                <th scope="col">Peso Massimo</th>
                <th scope="col">Costo</th>                
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tariffa of tariffe">
                    <th scope="row">{{tariffa.id}}</th>
                    <td>{{tariffa.nome_corriere}}</td>
                    <td>{{tariffa.nome_tariffa}}</td>
                    <td>{{tariffa.peso_massimo}} Kg</td>
                    <td>{{tariffa.costo}} €</td>
                </tr>
            </tbody> 
        </table>
    </div>       
</div>
