<div class="container">
    <div class="row w100 py-3 pb-5">
        <h1>ESAME</h1>
    </div>
    
    <div class="row w100 py-3 pt-5">
        <div class="col btn-group">
            <button type="button" class="btn btn-primary btn-lg btn-block" [routerLink]="['/articoli']">Articoli</button>
        </div>
        <div class="col btn-group">
            <button type="button" class="btn btn-success btn-lg btn-block" [routerLink]="['/ordini']">Ordini</button>
        </div>
        <div class="col btn-group">
            <button type="button" class="btn btn-warning btn-lg btn-block" [routerLink]="['/tariffe']">Tariffe</button>
        </div>
    </div>    
</div>