<div class="background">
<div class="container">
    <div class="row w100 py-3 pb-5">
        <h3>{{title}}</h3>
    </div>
    <div class="row w100 py-3">
        <table class="table table-hover"style="width: 100%; border-collapse: collapse;">
            <thead class="thead">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Codice</th>
                <th scope="col">Descrizione</th>
                <th scope="col">Peso</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let articolo of articoli">
                    <th scope="row">{{articolo.id}}</th>
                    <td>{{articolo.codice}}</td>
                    <td>{{articolo.descrizione}}</td>
                    <td>{{articolo.peso}} Kg</td>
                </tr>
            </tbody> 
        </table>
    </div>       
</div>
</div>
